.mytree
{
	text-align: left;
}
.mytree img
{
	vertical-align: middle;
	cursor: pointer;
}

.mytree a,
.mytree a:link,
.mytree a:visited,
.mytree a:active,
.mytree a:hover, 
.mytree b
{
	display: block;
	background: url(tt.gif) no-repeat ;
	padding-left: 20px;
	min-height: 20px;
}

.mytree .last
{
	background: url(t.gif) no-repeat !important;
}
